<!-- Handlebars START -->
<div class="container mb-3">
  <div class="logged-in-div mt-3">

    <!-- Navbar Start -->
    <div class="bg-dark text-white fs-4 rounded-3" style="padding:10px;" id="insideNav">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div id="welcome"><b>Welcome</b></div>
        <div>
          <a href="/tracker" style="text-decoration:none; padding: 0 10px 0 10px;" onclick="goalNavHandler()">Tracker</a>
          <a href="/workouts" style="text-decoration:none; padding: 0 10px 0 10px;">Workouts</a>
          <a href="/goals" style="text-decoration:none; padding: 0 10px 0 10px;">Goals</a>
          <a href="#" style="text-decoration:none; padding: 0 10px 0 10px;" onclick="logout(event)">Logout</a>
        </div>
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Headings Start -->
    <div class="text-center">
      <img src="/assets/GOALS.png" style="margin: 30px 0 30px 0;" id="goalsLogo" class="delayed-image" align="center">
    </div>
    <h3 style="text-align: center;">Input your data to the tracker</h3>
    <!-- Headings End -->

    <!-- Main Body Start -->
    <div class="row">
        
        <!-- Weight Form -->
      <div class="col-md-4 pt-3">
        <form class="weight-form">
          <h2>Weight</h2>
          <div class="form-group">
            <label for="date"><b>Date:</b></label>
            <input type="date" class="form-control" id="date" placeholder="Enter Date" value="">
            <script>document.getElementById('date').value = new Date().toJSON().slice(0, 10);</script>
          </div>
          <div class="form-group">
            <label for="currentWeight"><b>Current Weight:</b></label>
            <input type="number" class="form-control" id="currentWeight" placeholder="Enter Current Weight">
          </div>
          <div class="form-group">
            <label for="weightGoal"><b>Goal Weight:</b></label>
            <input type="number" class="form-control" id="goalWeight" placeholder="Enter Weight Goal">
          </div>
          <button type="submit" class="btn btn-primary btn-block w-100">Submit</button>
          <script src="/js/weightForm.js"></script>
        </form>
      </div>

      <!-- Sleep Form -->
      <div class="col-md-4 pt-3">
        <form class="sleep-form">
          <h2>Sleep</h2>
          <div class="form-group">
            <label for="date"><b>Date:</b></label>
            <input type="date" class="form-control" id="sleepDate" placeholder="Enter Date">
            <script>document.getElementById('sleepDate').value = new Date().toJSON().slice(0, 10);</script>
          </div>
          <div class="form-group">
            <label for="hours"><b>Hours:</b></label>
            <input type="number" class="form-control" id="hours" placeholder="Enter Hours">
          </div>
          <button type="submit" class="btn btn-primary btn-block w-100">Submit</button>
          <script src="/js/sleepForm.js"></script>
        </form>
      </div>

      <!-- Water Form -->
      <div class="col-md-4 pt-3">
        <form class="water-form">
          <h2>Water</h2>
          <div class="form-group">
            <label for="date"><b>Date:</b></label>
            <input type="date" class="form-control" id="waterDate" placeholder="Enter Date">
            <script>document.getElementById('waterDate').value = new Date().toJSON().slice(0, 10);</script>
          </div>
          <div class="form-group">
            <label for="ounces"><b>Ounces:</b></label>
            <input type="number" class="form-control" id="ounces" placeholder="Enter Ounces">
          </div>
          <button type="submit" class="btn btn-primary btn-block w-100">Submit</button>
          <script src="/js/waterForm.js"></script>
        </form>

      </div>
    </div>
    <!-- Main Body End -->
  </div>
</div>
<!-- Handlebars END -->