    <!-- Handlebars START -->
    <!-- Login Card Start -->
    <div class="login-card">
      <div class="text-center">
      <img src="/assets/logoTest.png" style="width:80%;" class="mb-3 delayed-image" align="center">
      </div>
      <h5 style="text-align: center;"><b>Promoting a healthy lifestyle through data visualization.</b></h5>
      <h1 class="mt-4" style="text-align: center;"><b>Sign In</b></h1>
      <p style="font-size: 1.3rem;"><b>Not a member?</b> <a href="/register"><b>Join Now</b></a></p>
      <form class="login-form">
        <div class="form-group">
          <label for="email"><b>Email address:</b></label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="password"><b>Password:</b></label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block w-100">Submit</button>
      </form>
      <script src="/js/login.js"></script>
    </div>
    <!-- Login Card End -->
    <!-- Handlebars END -->