{{!-- <!-- Handlebars START --> --}}
<div class="container mb-3">
  <div class="logged-in-div mt-3">

    {{!-- <!-- Navbar Start --> --}}
    <div class="bg-dark text-white fs-4 rounded-3" style="padding:10px;" id="insideNav">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div id="welcome"><b>Welcome</div>
        <div>
          <a href="/tracker" style="text-decoration:none; padding: 0 10px 0 10px;">Tracker</a>
          <a href="/workouts" style="text-decoration:none; padding: 0 10px 0 10px;">Workouts</a>
          <a href="/goals" style="text-decoration:none; padding: 0 10px 0 10px;">Goals</a>
          <a href="/profile" style="text-decoration:none; padding: 0 10px 0 10px;">Update Bio</a>
          <a href="#" style="text-decoration:none; padding: 0 10px 0 10px;">Log Out</a>
        </div>
      </div>
    </div>
    {{!-- <!-- Navbar End --> --}}

    {{!-- <!-- Headings Start --> --}}
    <h1 style="text-align: center;"><b>Fitness Tracker</b></h1>
    <h3 style="text-align: center;">Visualize your progress to reach your goals!</h3>
    {{!-- <!-- Headings End --> --}}

    {{!-- <!-- Main Body Start --> --}}
    <div class="row">
      <p>This is a test. This is a test. This is a test. This is a test. This is a test. This is a test. This is a test.
        Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah.
        Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah.
        <br><br>
      </p>
    </div>
    {{!-- <!-- Progress Bar Sample --> --}}
    <div class="row">
      <h5>Weight Loss Goal:</h5>
      <div id="hideProgress" class="hidden">
        <div id="myProgress" class="progress-container">
          <div id="myBar">0%</div>
        </div>
      </div>
    </div>
    {{!-- <!-- Main Body End --> --}}

  </div>
</div>
{{!-- <!-- Handlebars END --> --}}
