{{!-- <!-- Handlebars START --> --}}
<div class="container mb-3">
  <div class="logged-in-div mt-3">

    {{!-- <!-- Navbar Start --> --}}
    <div class="bg-dark text-white fs-4 rounded-3" style="padding:10px;" id="insideNav">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div id="welcome" class="hiddenNav"><b>Welcome &nbsp;</b><span id="user-name"></span></div>
        <div>
          <a href="/tracker" style="text-decoration:none; padding: 0 10px 0 10px;" onclick="goalNavHandler()">Tracker</a>
          <a href="/workouts" style="text-decoration:none; padding: 0 10px 0 10px;">Workouts</a>
          <a href="/goals" style="text-decoration:none; padding: 0 10px 0 10px;">Goals</a>
          <a href="#" style="text-decoration:none; padding: 0 10px 0 10px;" onclick="logout(event)">Logout</a>
        </div>
      </div>
    </div>
    {{!-- <!-- Navbar End --> --}}

    {{!-- <!-- Headings Start --> --}}
    <div class="text-center">
      <img src="/assets/WORKOUTS.png" style="margin: 30px 0 30px 0;" id="workoutsLogo" class="delayed-image" align="center">
    </div>
    <h3 style="text-align: center;">Save your workout notes</h3>
   
    {{!-- <h2> *page still currently being worked on </h2>
    <img class="uc" src="https://cdn.pixabay.com/photo/2017/06/16/07/26/under-construction-2408061_960_720.png"
      alt="under construction"> </img> --}}
    {{!-- <!-- Headings End --> --}}

    {{!-- <!-- Main Body Start --> --}}


        {{!-- go back to for each --}}
        <div class="row">
          <div class="col-4 list-container">
            <div class="card">
              <ul class="list-group"> Your Workouts</ul>
              {{#each workouts as |workout|}}
                <li>{{Workouts.title}}</li>
                <li>{{Workouts.text}} </li>
                {{/each}}
            </div>
          </div>
          <div class="col-8">
            <input class="note-title" placeholder="Note Title" id ="note-title" maxlength="28" type="text" />
            <textarea style="display:grid;" class="note-textarea" id= 'note-textarea' placeholder="Note Text"></textarea>
          </div>
        <div class="icons">
          <button class="fas fa-save text-light save-note">save this</button>
          <button class="fas fa-plus text-light new-note">new this</button>
         
        </div>
        </div>
      </div>




    {{!-- <!-- Main Body End --> --}}

  </div>
</div>
<script src="/js/w-o-notes.js"> </script>
{{!-- <!-- Handlebars END --> --}}
