{{!-- <!-- Handlebars START --> --}}
<div class="container mb-3">
  <div class="logged-in-div mt-3">

    {{!-- <!-- Navbar Start --> --}}
    <div class="bg-dark text-white fs-4 rounded-3" style="padding:10px;" id="insideNav">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div id="welcome"><b>Welcome</div>
        <div>
          <a href="/tracker" style="text-decoration:none; padding: 0 10px 0 10px;" onclick="goalNavHandler()">Tracker</a>
          <a href="/workouts" style="text-decoration:none; padding: 0 10px 0 10px;">Workouts</a>
          <a href="/goals" style="text-decoration:none; padding: 0 10px 0 10px;">Goals</a>
          <a href="#" style="text-decoration:none; padding: 0 10px 0 10px;" onclick="logout(event)">logout</a>
        </div>
      </div>
    </div>
    {{!-- <!-- Navbar End --> --}}

    {{!-- <!-- Headings Start --> --}}
    <h1 style="text-align: center;"><b>Workouts</b></h1>
    <h3 style="text-align: center;">Save your workout notes</h3>
    {{!-- <!-- Headings End --> --}}

    {{!-- <!-- Main Body Start --> --}}
    <div class="row">
      <p>This is a test. This is a test. This is a test. This is a test. This is a test. This is a test. This is a test.
        Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah.
        Blah Blah Blah. Blah Blah Blah. Blah Blah Blah. Blah Blah Blah.
        <br><br>
      </p>
    </div>
    {{!-- <!-- Main Body End --> --}}

  </div>
</div>
{{!-- <!-- Handlebars END --> --}}
